/* 
.d-grid{
    background-color: rgba(186, 186, 210, 0.618);
    backdrop-filter: blur(6px);
    float:left;
    margin: 50px;
    margin-top: 200px;
    width: 50vh;
    padding: 20px;
}
 */
